In [1]:
import pandas as pd
import numpy as np
import spacy

In [2]:
from spacy.lang.pt.stop_words import STOP_WORDS as stopwords

In [5]:
df = pd.read_csv('cleandata.csv', encoding = 'utf-8')

In [6]:
df

                                         status_message
0                               Vamos tomar chopp hojeüòç
1     Todo mundo curte um hot roll. E quem negar, me...
2                             Mesa cheia √© mesa alegre!
3     Nosso Fil√© com Molho de Vinho √© fabuloso! Ele ...
4                Daqui a pouco tem Malino‚Äôs Hein!\nüçîüç∫üçüüòç
...                                                 ...
1013                                  Queijo coalho.üòãüòãüòã
1014  "S√°bado de Sol, tem espetos de mont√£o.." üòâ\n\n...
1015  Segunda √© dia do melhor Rod√≠zio de Santar√©m!! ...
1016  Hoje tem p√£o del√≠cia, o nosso p√£ozinho de bata...
1017  Ouuu se preferir, pode ser tamb√©m um chocolate...

[1018 rows x 1 columns]

In [7]:
df['word_counts'] = df['status_message'].apply(lambda x: len(str(x).split()))

In [8]:
df.sample(5)

                                        status_message  word_counts
687  Deliciosos quiches quentinhos saindo para noss...           64
701  Hoje tem Carimb√≥! Deliciosa torta de p√£o de l√≥...           34
95   Hoje tem prom√¥√¥ de pizza!!! A pizza grande sai...           49
218  Hoje √© dia de Villa Aurora !!! Farra Boa, com ...           41
593  Hoje na #gothamburgers Burgers Tradicionais & ...           58

In [9]:
df['word_counts'].max()

352

In [10]:
df['word_counts'].min()

1

In [11]:
df[df['word_counts']==1]

                    status_message  word_counts
202                       Veeeeem!            1
249                      #ficadica            1
267                         #vemBD            1
347                         #vemBD            1
470  Bora.........................            1
606                     PAGOD√ÉO...            1
613                   #VemPraFesta            1
773                        #SEXTOU            1
811                              üëä            1
825                          üéâüéäüéâüéâüéä            1
840                   Quinta-feira            1
861                        SEXTOU!            1
885                       üåûüåûüåûüåûüåûüåûüåûüåû            1

In [12]:
def char_counts(x):
    s = x.split()
    x = ''.join(s)
    return len(x)

In [14]:
df['char_counts'] = df['status_message'].apply(lambda x: char_counts(str(x)))

In [15]:
df.sample(5)

,status_message,word_counts,char_counts
666,"""Vou beijando esse copo \nAbra√ßando as garrafa...",92,508
610,Quarta √© dia do Rod√≠zio mais badalado de Santa...,15,71
918,10% de Desconto nas compras A VISTA üí∏ com a ca...,37,192
818,Pela primeira vez no La Biroska Petiscaria o g...,25,120
649,Ganhadoras do Sorteio de P√°scoa üç´üçî,6,29

In [16]:
df

,status_message,word_counts,char_counts
0,Vamos tomar chopp hojeüòç,4,20
1,"Todo mundo curte um hot roll. E quem negar, me...",35,151
2,Mesa cheia √© mesa alegre!,5,21
3,Nosso Fil√© com Molho de Vinho √© fabuloso! Ele ...,24,134
4,Daqui a pouco tem Malino‚Äôs Hein!\nüçîüç∫üçüüòç,7,31
...,...,...,...
1013,Queijo coalho.üòãüòãüòã,2,16
1014,"""S√°bado de Sol, tem espetos de mont√£o.."" üòâ\n\n...",53,255
1015,Segunda √© dia do melhor Rod√≠zio de Santar√©m!! ...,14,59
1016,"Hoje tem p√£o del√≠cia, o nosso p√£ozinho de bata...",65,337
1017,"Ouuu se preferir, pode ser tamb√©m um chocolate...",33,240

In [17]:
#putput processed data as csv finle
df.to_csv('data_counts.csv',index=False)